* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  display: flex;

  svg {
    fill: #606263;
    min-width: 24px;
  }
}

button.toggle {
  width: 24px;
  height: 24px;
  z-index: 10;
  position: fixed;
  left: 1rem;
  top: 1rem;
  background-color: transparent;
  border: none;
  border-radius: 5px;

  &:hover {
    cursor: pointer;
  }
}

/* button.toggle:hover { */
/*   cursor: pointer; */
/* } */

nav {
  flex: none;
  width: 250px;
  height: 100vh;
  padding-top: 3rem;
  padding-left: 1rem;
  background-color: #e0e0e0;
  transition: all 0.3s;

  &.min {
    width: 60px;

    span {
      opacity: 0;
    }
  }

  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    li {
      display: flex;
      flex-direction: row;
      gap: 0.5rem;
      align-items: center;
    }

    li:hover {
      cursor: pointer;
    }

    span {
      transition: opacity 0.2s ease-out;
      white-space: nowrap;
    }
  }
}

#content {
}
